@charset "UTF-8";
@font-face {
    font-family: 'vermin';
    src: url(/fonte/Vermin\ Vibes\ 1989.ttf);
}

body {
    margin: 0;
    padding: 0;
  }

#quem_somos{
width: 100%;
background-color: rgb(64,121,74);
color: #f5f7f8;
text-align: center;
padding: 100px;
}

#corpo {
    display: flex;
    align-items: center;
  }

.conteudo {
    flex: 1;
    text-align: center;
    margin-top: 50px;

}

.imagem {
    margin-top: 50px;
    width: 400px;
    margin-right: 190px;
  }

.icons{
    margin: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.divIcons{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 80px;
}

  figure {
    text-align: center;
  }

  .footer{
    width: 1600px;
    height: 100px;
    background-color: #dcdcdc;
  }

  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }

  .social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
  }

.fonte1{
    font-size: 35px;
}

.fonte2{
    font-size: 26px;
}

.tituloTres{
    font-size: 50px;
    color: black;
}

.fonte3{
  font-size: 35px;
  color: black;
}

.fonte4{
  font-size: 26px;
  color: black;
}

.titulo{
  font-size: 50px;
}

.tituloDois{
  font-size: 50px;
  margin-top: 90px;
  text-align: center;
  color: black;
}

.btn-btn-primary{
    --bs-btn-font-weight: 600;
}

.card{
    box-shadow: 0px 0px 15px rgb(46, 45, 45); 
    width: 250px;
    text-align: center;
}


  .texto{
    font-weight:800; 
  }

  .deves{
  display: flex;
  justify-content: space-around;
  align-items: center; 
  margin-left: 620px;
  margin-bottom: 80px;
  }

.cardDeve{
  margin-right: 55px;
}

figcaption{
  font-size: 20px;
  color: black;
  margin-top: 20px;

}


